* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    display: grid;
  
}
/* Header section */

  .header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 30px;
}

/* Header end */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Extra Styles */

.text-left {
    text-align: left;
}



/* Extra Styles End */
/* Content section */

.content-section {
    margin: 0 auto 20px 0px;
    text-align: center;
    overflow: auto;
}

.content-article {
    margin: 0 0 20px 0;
    min-width: 1221px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

.content-bio {
    padding: 35px;
    float: left;
    width: 70%;
}

.content-article img {
    max-height: 300px;
    float: left;
    padding: 50px 30px 50px 30px;
}

.content-bio h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content-bio p {
    padding: 0px 50px 50px 0px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

/* Content end  */
/* Benefit start */

.benefits {
    margin: 0 20px;
    padding: 20px;
    display: inline-block;
    min-width: 554px;
    height: 940px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}


.benefit-title {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-title p {
    font-size: 20px;
}

.benefit-title h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
}

.benefit-title img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Benefit end */
/* Footer start */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

footer a {
    color: black;
}

#main-info {
    background-position: center;
    background-size: cover;
    display: inline-flex;
}


/* Footer end */